

<!-- <form class="form" [formGroup]="loginForm">


<div class="Login">
    <h1>Login</h1>
     <label for="username">Username</label><br>

    <input id="r" type="text" placeholder="enter User name" formControlName="enter User name"><br>
    <label for="Password">Password</label><br>
   
    <input id="t" type="text" placeholder="enter Password" formControlName="password"><br>

    <button (click)="login()" class="s">Sign in</button>
    <p>Forgot password</p>
    <p>Create An Account</p>

</div>
</form> -->

<div class="login-container">
  
    <h2>Login</h2>

    <div>
      <form (ngSubmit)="login()"  [formGroup]="loginForm">
      <label for="username">Username</label>
      <input
        type="text"
        id="username"
        name="username"
        [(ngModel)]="username"
        required formControlName="email"
        >

    <div class="password-group">
      <label for="password">Password</label>
      <div class="password-wrapper">
        <input
          [type]="showPassword ? 'text' : 'password'"
          id="password"
          name="password"
          [(ngModel)]="password"
          required formControlName="password"
        />
        <span class="eye-icon" (click)="togglePassword()">
          {{ showPassword ? '🙈' : '👁️' }}
        </span>
      </div>
    </div>

    <button (click)="signin()" type="submit" [disabled]="!loginForm.valid">Login</button>


    <p *ngIf="errorMessage" style="color: red;">{{ errorMessage }}</p>
  </form>
</div>
