.parent{
  
  height: 100%;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  margin: 10px;
  

}
.card{
  background: linear-gradient(orange,violet,green);
  height: 70%;
  width: 30%;
  padding: 30px;
  margin: 10px;

  
  

}
img{
  width: 100px;
  height: 100px;
  display: flex;
  flex-wrap: wrap;
}
h2{
  
  display: flex;
  
  
}
p{
  text-align: center;
  margin: auto;
}
.delete{
  display: flex;
  gap: 10px;
}
.image{
  width: 30%;
  height: 30%;
  display: flex;
  
  
  
}
.school{
  display: flex;
  margin: auto;
  
}